@import './mixins.scss';
.header{
    color: white;
    position: absolute;
    top:40px;
    left: 0;
    width: 100%;
    z-index: 2;
    transition: all .1s linear;
    .container{
        @include flexCenter;
    }
    &.sticky{
        padding: 20px 0 ;
        position: fixed;
        top:0px;
        left: 0;
        color: black;
        background: white;
        border-bottom: 1px black solid;
    }
    &__logo{
        cursor: pointer;
        display: inline-block;
        font-weight: bold;
        font-size: 28px;
        line-height: 33px;
    }
    &__menu{
        display: inline-block;
        &-item{
            
            cursor: pointer;
            font-size: 18px;
            line-height: 21px;
            margin-right: 65px;
            i{
                margin: auto 0px auto 10px;
                font-size: 12px;
            }
        }
    }
    &__notification{
        display: inline-block;
        cursor: pointer;
    }
    & .menu__mobile{
        display: none;
    }
}
.mobile__list{
    display: none;
}


@include responsive_425{
    .header{
        & .header__menu{
            display: none;
        }
        & .header__notification{
            display: flex;
            align-items: center;
            & .menu__mobile{
                display: inline-block;
                margin-right: 20px;
                & .mobile__icon.change .bar1{
                    transform: rotate(-45deg) translate(-9px, 6px);
                }
                & .mobile__icon.change .bar2{
                    opacity: 0;
                }
                & .mobile__icon.change .bar3{
                    transform: rotate(45deg) translate(-8px, -8px);
                }
                & .mobile__icon .bar1, .bar2, .bar3 {
                    width: 35px;
                    height: 5px;
                    background-color: white;
                    margin: 6px 0;
                    transition: 0.4s;
                }
            }
        }
        &.sticky .header__notification{
            & .menu__mobile{
                & .mobile__icon .bar1, .bar2, .bar3 {
                    width: 35px;
                    height: 5px;
                    background-color: black;
                    margin: 6px 0;
                    transition: 0.4s;
                }
            }
        }
    }
    .mobile__list{
        position: fixed;
        top: 0%;
        left: -100vw;
        width: 100vw;
        height: 100vh;
        z-index: 4;
        background: whitesmoke;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        transition: all .8s linear;
        & .close__icon{
            position: absolute;
            top:0;
            right:0;
            & .bar1,.bar2{
                width: 35px;
                    height: 5px;
                    background-color: black;
                    margin: 6px 0;
                    transition: 0.4s;
            }
            & .bar1{
                transform: rotate(-45deg) translate(-9px, 6px);
            }
            & .bar2{
                transform: rotate(45deg) 
            }
        }
        & .close__icon.active{
            & .bar1{
                transform: rotate(0deg) translate(-9px, 6px);
            }
            & .bar2{
                transform: rotate(0deg) translate(0,-5px);
            }
        }
        & .mobile__list-item{
            margin-bottom: 20px;
            font-size: 20px;
        }
    }
    .mobile__list.active{
        top:0;
        left: 0;
    }
}
@include responsive_768{
    .header{
        & .header__menu{
            display: none;
        }
        & .header__notification{
            display: flex;
            align-items: center;
            & .menu__mobile{
                display: inline-block;
                margin-right: 20px;
                & .mobile__icon.change .bar1{
                    transform: rotate(-45deg) translate(-9px, 6px);
                }
                & .mobile__icon.change .bar2{
                    opacity: 0;
                }
                & .mobile__icon.change .bar3{
                    transform: rotate(45deg) translate(-8px, -8px);
                }
                & .mobile__icon .bar1, .bar2, .bar3 {
                    width: 35px;
                    height: 5px;
                    background-color: white;
                    margin: 6px 0;
                    transition: 0.4s;
                }
            }
        }
        &.sticky .header__notification{
            & .menu__mobile{
                & .mobile__icon .bar1, .bar2, .bar3 {
                    width: 35px;
                    height: 5px;
                    background-color: black;
                    margin: 6px 0;
                    transition: 0.4s;
                }
            }
        }
    }
    .mobile__list{
        position: fixed;
        top: 0%;
        left: -100vw;
        width: 100vw;
        height: 100vh;
        z-index: 4;
        background: whitesmoke;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        transition: all .8s linear;
        & .close__icon{
            position: absolute;
            top:0;
            right:0;
            & .bar1,.bar2{
                width: 35px;
                    height: 5px;
                    background-color: black;
                    margin: 6px 0;
                    transition: 0.4s;
            }
            & .bar1{
                transform: rotate(-45deg) translate(-9px, 6px);
            }
            & .bar2{
                transform: rotate(45deg) 
            }
        }
        & .close__icon.active{
            & .bar1{
                transform: rotate(0deg) translate(-9px, 6px);
            }
            & .bar2{
                transform: rotate(0deg) translate(0,-5px);
            }
        }
        & .mobile__list-item{
            margin-bottom: 20px;
            font-size: 20px;
        }
    }
    .mobile__list.active{
        top:0;
        left: 0;
    }
}
@include  responsive_1024{
}
@include responsive_1025{
}