@import './mixins.scss';
.header{
    color: white;
    position: absolute;
    top:40px;
    left: 0;
    width: 100%;
    z-index: 2;
    transition: all .1s linear;
    .container{
        @include flexCenter;
    }
    &.sticky{
        padding: 20px 0 ;
        position: fixed;
        top:0px;
        left: 0;
        color: black;
        background: white;
        border-bottom: 1px black solid;
    }
    &__logo{
        cursor: pointer;
        display: inline-block;
        font-weight: bold;
        font-size: 28px;
        line-height: 33px;
    }
    &__menu{
        display: inline-block;
        &-item{
            
            cursor: pointer;
            font-size: 18px;
            line-height: 21px;
            margin-right: 65px;
            i{
                margin: auto 0px auto 10px;
                font-size: 12px;
            }
        }
    }
    &__notification{
        display: inline-block;
        cursor: pointer;
    }
}
