@import './mixins.scss';
@import './variables.scss';

.material{
    &__wrapper{
        @include flexCenter;
        flex-wrap: wrap;
        padding: 120px 0;
        & .detail__wrapper{
            padding-left: 5%;
        }
        & .image__wrapper{
            width:50%;
            @include flexCenter;
            flex-wrap: wrap;
            & img{
                border-radius: 20px;
            }
            & .left{
                display: flex;
                flex-wrap: wrap;
                max-width: 40%;
            }
            & .right{
                max-width: 50%;
            }
        }
    }
}


@include responsive_425{
    .material{
        & .image__wrapper{
            margin-top: 40px;
            width:100%;
            @include flexCenter;
            & img{
                border-radius: 20px;
            }
            & .img1{
                width: 100%;
                height: 425px;
            }
            
        }
    }
}
@include responsive_768{
    .material{
        & .image__wrapper{
            margin-top: 40px;
            width:100%;
            @include flexCenter;
            & img{
                border-radius: 20px;
            }
            & .left{
                @include flexCenter
                width: 100%;
            }
            & .img1{
                width: 100%;
                height: 425px;
            }
            & .img2{
                width: 50%;
            }
            & .img3{
                width: 50%;
            }
            
        }
    }

}
@include  responsive_1024{
    
}
@include responsive_1025{
}