.product{
    background: $background-color;
    padding: 50px 0;
    .title1{
        text-align: center;
    }
    .product__type{
        margin-top: 32px;
        background: #EEEEEE;
        border-radius: 44px;
        width: fit-content;
        margin: 32px auto 0;
        padding: 6px;
        span{
            cursor: pointer;
            font-size: 18px;
            border-radius: 44px;
            padding: 7px 20px;
            transition: all .2s linear;
            &.active{
                background: white;
            }

        }
    }
    .product__list{
        margin-top: 80px;
        & .product__list-item{
            width: 100%;
            background: white;
            margin-right: 40px;
            cursor: pointer;
            &:hover .product__image{
                & img{       
                    transform: skewY(-20deg) rotateY(20deg) ;
                    z-index: 0;
                    position: relative;
                }
            }
            & .product__image{
                background: $background-color;
                height: 288px;
                width: 100%;
                border: 2px solid white;
                & img{
                    transition: all .3s linear;
                    object-fit: cover;
                    width: 100%;
                    height: 255px;
                }
            }
            & .product__detail{
                z-index: 1;
                position: relative;
                padding: 13px 21px 27px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                min-height: 200px;
                & .product__detail-type{
                    line-height: 20px;
                    font-size: 16.7554px;
                    color:#8D8D8D;
                }
                & .product__detail-name{
                    font-size: 21.3251px;
                    line-height: 26px;
                    font-weight: 600;
                }
                & .product__detail-rate{
                    i{
                        color: $more-color;
                        font-size: 20px;
                    }
                }
                & .product__detail-bottom{
                    @include flexCenter;
                    & .product__detail-plus{
                        width: 50px;
                        height: 50px;
                        color:white;
                        border-radius: 31px;
                        background: #0D1B39;
                        font-size: 24px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        &::after{
                            content: "+";
                        }
                    }
                    & .product__detail-price{
                        color: #0D1B39;
                        font-size: 21.3251px;
                        line-height: 26px;
                        font-weight: 600;
                    }
                }
            }
        }
    }

    & .product__viewall{
        margin: 60px auto 0;
        color: $more-color;
        cursor: pointer;
        text-align: center;
        font-size: 18px;
        width: fit-content;
        display: flex;
        justify-content: center;
        & i{
            margin-left: 10px;
            transition: all .2s linear;
        }
        &:hover{
            i{
                transform: translateX(5px);
            }
        }
    }
    & .owl-nav{
        & .owl-prev{
            position: absolute;
            left: -40px;
            top:50%;
            transform: translateY(-50%);
        }
        & .owl-next{
            position: absolute;
            right: -40px;
            top:50%;
        }
        & button{
            span{
                background: white!important;
                border-radius: 50px!important;
                font-size: 30px;
                width: 50px;
                height: 50px;
                display: flex;
                justify-content: center;
            }
        }
    }
    & .owl-dots{
        width: fit-content;
        margin: 20px auto 0;
        & .owl-dot{
            width: 20px;
            height: 20px;
            background: grey;
            margin-right: 10px;
            border-radius: 31px;
        }
    }
}
@include responsive_425{
    .detail__wrapper{
        width: 100%;
        & h1{
            max-width: none;
        }
    }
}
@include responsive_768{
    .product__detail-name{
        min-height: 52px;
    }
}
@include  responsive_1024{

}
@include responsive_1025{
}