$background: "../image/startbackground.png";
.start{
    background:linear-gradient(180deg, rgba(255, 255, 255, 0) 86.13%, #FFFFFF 100%), url("../../assets/image/startbackground.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    // align-items: center;
    justify-content: center;
    justify-items: center;
    height: 1084px;
    color: white;
    &__wrapper{
        flex-direction: column;
        @include flexCenter;
        margin-top: 160px;
        justify-content: flex-start;
    }
    &__title{
        font-size: 80px;
        line-height: 104px;
        letter-spacing: -0.01em;
        max-width: 860px;
        text-transform: capitalize;
        text-align: center;
    }
    &__detail{
        font-size: 24px;
        line-height: 160%;
        opacity: 0.8;
        max-width: 70%;
        text-align: center;
        margin-top: 14px;
    }
    &__button{
        margin-top: 45px;
        height: 56px;
        width: 345px;
        padding: 0 20px;
        border: 0.861538px solid rgba(255, 255, 255, 0.6);
        border-radius: 42px;
        input{
            font-size: 18px;
            width: 100%;
            height: 100%;
            border-radius: 42px;
            outline: none;
            border: none;
            background: none;
            color: white;
            opacity: 0.8;
        }
    }
}