@mixin flexCenter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
}

$res_425 : "only screen and (max-width: 425px)";
$res_768 : "only screen and (max-width: 768px)";
$res_1024 : "only screen and (max-width: 1024px)";
$res_1025 : "only screen and (min-width: 1024px)";
 
@mixin responsive_425() {
    @media #{$res_425} {
        @content;
    }
}
@mixin responsive_768() {
    @media #{$res_768} {
        @content;
    }
}
@mixin responsive_1024() {
    @media #{$res_1024} {
        @content;
    }
}
@mixin responsive_1025() {
    @media #{$res_1025} {
        @content;
    }
}

